<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<system.webServer>

		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="deny" />
				<add name="Content-Security-Policy" value="default-src 'none'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' https://www.gravatar.com; font-src 'self' data: https://fonts.gstatic.com; script-src 'unsafe-inline' 'self'; object-src 'self'" />
			</customHeaders>
		</httpProtocol>

		<staticContent>
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
		</staticContent>

		<rewrite>
			<rules>
				<rule name="Remove trailing slashes" stopProcessing="false">
					<match url="(.*)/$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}" />
				</rule>

				<rule name="Friendly non-parameterised URL to actual" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:1}.php" />
				</rule>
				
				<rule name="Friendly parameterised URL to actual" stopProcessing="true">
					<match url="(.*)/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.php?Id={R:2}" />
				</rule>
			</rules>
		</rewrite>

	</system.webServer>
</configuration>