<nav
	class="ui inverted octopus-theme accent menu"
	id="octopus-navigation"
>
	<div class="ui container" id="octopus-navigation-container">
		<a href="{{ constant('WebURI::Home') }}" class="header item">
			{% include 'Modules/Octopus Logo.html' with {'style': 'margin-right: 1.5em', 'class': 'logo'} %}
			<p>Octopus <span style="font-weight: lighter; text-transform: uppercase; font-size: 0.8em">Lite</span></p>
		</a>
		{% if LoginDetails.LoggedIn %}
			<a href="{{ constant('WebURI::Upload') }}" class="{{ ActiveItems[0] }} item">
				<i class="ui pencil alternate icon"></i>
				Publish your work
			</a>
		{% endif %}
		
		{% include 'Modules/Global Search.html' with {'placeholder': 'Search science'} %}
		
		{% if LoginDetails.LoggedIn %}
			<div class="right menu" id="octopus-navigation-login-items">
				<a href="{{ constant('WebURI::Profile') }}" class="{{ ActiveItems[1] }} item">
					<img
						src="{{ constant('WebURI::Avatar') }}"
						class="ui right spaced avatar image"
						alt="Avatar of {{ LoginDetails.User.DisplayName }}"
					/>
					<strong>{{ LoginDetails.User.DisplayName }}</strong>
				</a>
				{% include 'Modules/Logout Invitation.html' %}
			</div>
		{% else %}
			{% include 'Modules/GoblinID Login Invitation.html' %}
		{% endif %}
	</div>
</nav>