<aside class="ui segment">
	<h4>Hypothesis Ratings</h4>
	<div class="ui grid">
		<div class="six wide column">Well defined</div>
		<div class="eight wide column">
			<div class="ui large star rating">
				<i class="icon active"></i>
				<i class="icon active"></i>
				<i class="icon"></i>
				<i class="icon"></i>
				<i class="icon"></i>
			</div>
		</div>
		
		<div class="six wide column">Original</div>
		<div class="eight wide column">
			<div class="ui large star rating">
				<i class="icon active"></i>
				<i class="icon active"></i>
				<i class="icon active"></i>
				<i class="icon active"></i>
				<i class="icon active"></i>
			</div>
		</div>
		
		<div class="six wide column">Scientifically valid</div>
		<div class="eight wide column">
			<div class="ui large star rating">
				<i class="icon active"></i>
				<i class="icon"></i>
				<i class="icon"></i>
				<i class="icon"></i>
				<i class="icon"></i>
			</div>
		</div>
	</div>
</aside>