<aside class="ui segment">
	<h4>Reviews</h4>
	<a class="ui button" href="/hypotheses/review/{{ Hypothesis.HypothesisId }}">Submit a review</a>
	<div class="ui feed">
		<div class="event">
			<div class="label">
				<img src="https://www.gravatar.com/avatar/?d=mm">
			</div>
			<div class="content">
				<div class="summary">
					<a class="user">
					Squidward
					</a>
					<div class="date">
					1 Hour Ago
					</div>
				</div>
				<div class="extra text">
					This is a terrible idea. I'm calling the RSPCA.
				</div>
				<div class="meta">
					<a class="like">
						<i class="like icon"></i> 4 Likes
					</a>
				</div>
			</div>
		</div>
	</div>
</aside>